/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-ic_check_48px:before {
  content: "\ea02";
}

.nc-icon.nc-ic_cancel_48px:before {
  content: "\ea03";
}

.nc-icon.nc-single-folded-content:before {
  content: "\ea04";
}

.nc-icon.nc-cloud-26:before {
  content: "\ea05";
}

